{{ attach_library('atomic_artsci/card') }}
{{ attach_library('atomic_artsci/video-cookie') }}
{% set attributes = attributes ?: create_attribute() %}
{% set button_attributes = button_attributes ?: create_attribute() %}
{% set button_classes = button_classes ?: [] %}

<div{{ attributes.addClass('card') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block media %}
    {% if media is not empty %}
      <div {{ media_attributes.addClass('media') }}>
        <div class="media__inner">
          {% if linked_element == 'media' and links|length == 1 %}
            {% set link = links|first %}
            <a href="{{ link.link_url }}" class="click-target">
              {{ media }}
            </a>
          {% else %}
            {{ media }}
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endblock %}

  {% block body %}
    <div class="card__body">
      {% if pre_title is not empty %}
        <div class="card__pre-title">
          {{ pre_title }}
        </div>
      {% endif %}

      {% block heading %}
        {% if headline %}
          <header>
            {% include '@atomic_artsci/artsci/headline.html.twig' with headline only %}
          </header>
        {% endif %}
      {% endblock %}

      {% block details %}
        {% if subtitle or meta is not empty %}
          <div class="card__details">
            {% block subtitle %}
              {% if subtitle is not empty %}
                <div class="card__subtitle">
                  {{ subtitle }}
                </div>
              {% endif %}
            {% endblock %}
            {% block meta %}
              {% if meta is not empty %}
                <div class="card__meta">
                  {{ meta }}
                </div>
              {% endif %}
            {% endblock %}
          </div>
        {% endif %}
      {% endblock %}

      {% block content %}
        {{ content }}
      {% endblock %}

      {% block button %}
        {% if links is not empty %}
          <footer class="banner__action">
            {% if links|length > 1 %}
              <div class="bttn--row">
                {% for link in links %}
                  {% set link_button_attributes = create_attribute(link.link_attributes|default({})) %}
                  <a {{ link_button_attributes.addClass(button_classes) }}
                    href="{{ link.link_url }}">
                    {{ link.link_text }}
                    <span role="presentation" class="fas fa-arrow-right"></span>
                  </a>
                {% endfor %}
              </div>
            {% elseif links|length == 1 %}
              {% set link = links|first %}
              {% if linked_element == 'button' %}
                {# Display as a link. #}
                <a {{ button_attributes }}
                  href="{{ link.link_url }}">
                  {{ link.link_text }}
                  <i role="presentation" class="fas fa-arrow-right"></i>
                </a>
              {% elseif show_button %}
                {# Display as a pseudo-link. #}
                <div {{ button_attributes }}>
                  {{ link.link_text }}
                  <i role="presentation" class="fas fa-arrow-right"></i>
                </div>
              {% elseif link_indicator %}
                {# Show arrow indicator only, no text. #}
                <div {{ button_attributes }}>
                  <i role="presentation" class="fas fa-arrow-right"></i>
                </div>
              {% endif %}
            {% endif %}
          </footer>
        {% endif %}
      {% endblock %}
    </div>
  {% endblock %}
</div>
