{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {{ content.field_artsci_headline }}
  <div class="artsci-events-wrapper list-container__inner">
    {{ content|without('field_artsci_headline', 'more') }}
  </div>
  {{ content.more }}
</div>
